@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Fanray Admin Console</title>
    <base href="/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:300" rel="stylesheet">
    <link href="~/admin/styles.6aac0475a7698b1c1e7c.bundle.css" rel="stylesheet" />
</head>
<body>
    <app-root></app-root>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.2.5/web-animations.min.js"></script>
    <script type="text/javascript" src="~/admin/inline.e63d33ce2b219fa9de01.bundle.js"></script>
    <script type="text/javascript" src="~/admin/polyfills.f039bbc7aaddeebcb9aa.bundle.js"></script>
    <script type="text/javascript" src="~/admin/main.99e0035a863c69a84730.bundle.js"></script>
</body>
</html>
